* {
	box-sizing: border-box;
}
.center {
	text-align: center;
}
.center-table {
	margin: auto
}
.form {
	height: 600px;
	width: 100%;
}
body {
	font-family: 'Dosis', sans-serif;
	font-size: 0;
}
div {
	display: inline-block;
	font-size: normal;	
}

